.input-range {
  accent-color: rgb(59 130 246);
}
.text-transit-white {
  color: white;
  transition-delay: 0.3s;
    transition-duration: 0.5s;
}
.bottom{
  bottom:-20%
}
@media only screen and (max-width: 768px) {
  div[data-bottom="4"] {
    bottom:-80%
}
  div[data-bottom="3"]{
    bottom:-60%
}
  div[data-bottom="2"]{
  bottom:-50%
}
div[data-bottom="0"]{
  bottom:-20%
}
}